<footer class="footer">
    <div class="footer__container">
        <div class="footer__copyright">
            <div class="institutional-links-2">
                <span class="institutional-links-2__item">© 2021 DLI IT Systems LLC</span>
              <ul class="footer-links">
                <li><a class="institutional-links-2__item" href="https://dli-it.com/" target="_blank class="institutional-links-2-item">Corporate Website</a></li>
                <li><a class="institutional-links-2__item" href="https://dli-it.com/#partners" target="_blank class="institutional-links-2-item">Partners</a></li>
                <li><a class="institutional-links-2__item" href="#" class="institutional-links-2-item">Feedback</a></li>
              </ul>
            </div>
            <p class="footer__copyright-text">DREAM LAND INNOVATION SYSTEMS LLC</p>
            <p>#209, Atrium Center, Bank Street, Bur Dubai PO Box 27287, Dubai, UAE</p>
        </div>
        <div class="footer__logo-container">
            <img src="{{uiRootPath}}/img/dli-logo-light.svg" class="footer__dli-logo"/>
        </div>
        <div class="community-section">
            <p class="community-section__text">Follow Dli on: </p>
            <div class="community-section__icons">
			    <a href="https://dli-apps.sourcerepo.com/redmine/dli/" title="Redmine" target="_blank" class="footer__icon icon-discord"></a>
                <a href="https://gitlab.com/doc-dli/" title="GitLab" target="_blank" class="footer__icon icon-github"></a>
                <a href="https://www.facebook.com/DliHQ" title="Facebook" target="_blank" class="footer__icon icon-facebook"></a>
                <a href="https://twitter.com/DliHQ" title="Twitter" target="_blank" class="footer__icon icon-twitter"></a>
                <a href="https://www.reddit.com/r/Dli/" title="Reddit" target="_blank" class="footer__icon icon-reddit"></a>
            </div>
        </div>
    </div>
</footer>
