<header class="header">
  <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://doc-dli.gitlab.io" title="DLI" class="dli-logo"><h5>DLI Docs</h5></a>
            <span  class="nav-brand__name-area">
            {{#if (eq page.component.name "hrw-dev") }}
              <strong class="nav-brand__name-area__title">HRW DevDocs</strong>
            {{else if (eq page.component.name "dli-protocol") }}
              <strong class="nav-brand__name-area__title">Protocol</strong>
            {{else if (eq page.component.name "dli-service") }}
              <strong class="nav-brand__name-area__title">Service</strong>
            {{else}}
              <strong class="nav-brand__name-area__title">Home</strong>
            {{/if}}
            </span>
          {{> top-versions}}
          <button class="navbar-burger" data-target="topbar-nav">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="">Docs</a>
              <div class="navbar-dropdown">
                  <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/hrworks">HR Works</a>
                  <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/ess">ESS</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
               <a class="navbar-link" href="#">Deveopers</a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href=""><strong>DevDocs</strong></a>
                  <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/hrw-dev">HRW Dev</a>
                  <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/ess-dev">ESS Dev</a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" href=""><strong>Coding Conventions</strong></a>
                  <a class="navbar-item" href="{{site.url}}/dli-core/v3/reference/html.html">HTML</a>
                  <a class="navbar-item" href="{{site.url}}/dli-core/reference/C#.html">C#</a>
                  <a class="navbar-item" href="{{site.url}}/dli-core/reference/AngularJS.html">AngularJS</a>
                  <a class="navbar-item" href="{{site.url}}/dli-core/reference/JavaScript.html">JavaScript</a>
               </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
               <a class="navbar-link" href="#">Release notes</a>
               <div class="navbar-dropdown">
                  <a class="navbar-item" href="#">HR Works</a>
                  <a class="navbar-item" href="#">ESS</a>
               </div>
            </div>
          </div>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" style="width: 200px; height: 30px" placeholder="Search docs">
        </div>
      {{/if}}
        </div>
        <div class="navbar-item navbar-right">
          <a href="https://gitlab.com/doc-dli/hrw-dev" title="DLI GitLab" target="_blank" class="footer__icon icon-github-2x"></a>
          <span class="control">
            <a class="button is-primary" target="_blank" title="Docs Feedback form" href="https://dev.dli.io/">Feedback</a>
          </span>
        </div>
      </div>
  </nav>
</header>
