footer.footer {
  font-size: 0.85rem;
  background-color: #0c152e;
  color: #8e8e8e;
  padding: 0.5rem 1rem;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 12.5rem;
  align-content: center;
  position: relative;
  z-index: 2;
}

.footer p {
  opacity: 0.36;
  color: #c2d2ff;
  font-size: 12px;
  letter-spacing: 0.16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer a {
  color: #c2d2ff;
  font-size: 13px;
  letter-spacing: 0.009rem;
  line-height: 1.25rem;
  margin-right: 1.125rem;
}

.institutional-links-2 {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 0.625rem;
}

.institutional-links-2__item {
  color: #c2d2ff;
  font-size: 13px;
  letter-spacing: 0.009rem;
  line-height: 1.25rem;
  margin-right: 1.125rem;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  padding: 45px 0 50px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__copyright {
  height: 4.375rem;
  width: 35rem;
  padding: 0 20px;
}

.footer__logo-container {
  padding: 30px 20px 0 20px;
  display: none;
}

.footer__logo-container::before {
  content: "";
  display: flex;
  align-items: center;
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0.12;
  margin-right: 10px;
}

.footer__lisk-logo {
  height: 25px;
  width: 62px;
  margin: 30px 0 10px;
}

.community-section {
  height: 20px;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  padding: 0 20px;
}

.community-section__text {
  opacity: 0.36;
  color: #c2d2ff;
  font-size: 12px;
  letter-spacing: 0.16px;
  line-height: 20px;
  margin-right: 40px;
}

.community-section__icons {
  display: flex;
  align-items: flex-start;
}

.footer__icon {
  display: block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-facebook {
  background-image: url(../img/icon-fb.svg);
}

.icon-twitter {
  background-image: url(../img/tw_16.svg);
}

.icon-linkedin {
  background-image: url(../img/icon-linkedin.svg);
}

.icon-reddit {
  background-image: url(../img/reddit_16.svg);
}

.icon-youtube {
  background-image: url(../img/icon-youtube.svg);
}

.icon-github {
  background-image: url(../img/git_16.svg);
}

.icon-discord-2x {
  background-image: url(../img/dc_16.svg);
  height: 2em;
  width: 2em;
}

.icon-discord {
  background-image: url(../img/dc_16.svg);
}

.icon-github-2x {
  background-image: url(../img/git_16.svg);
  margin-left: 1em;
  height: 1.75em;
  width: 1.75em;
}

@media screen and (max-width: 992px) {
  footer.footer {
    height: auto;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding: 45px 0 50px 0;
  }

  .footer__logo-container {
    display: block;
  }

  .footer__copyright {
    width: auto;
  }
}
