@font-face {
  font-family: "BasierCircle";
  font-style: normal;
  font-weight: 400;
  src:
    local("BasierCircle"),
    local("BasierCircleRegular"),
    url(../font/basiersquare-regular-webfont.woff) format("woff");
}


@font-face {
  font-family: "BasierCircle";
  font-style: normal;
  font-weight: 500;
  src:
    local("BasierCircleBold"),
    url(../font/basiercircle-bold.woff) format("woff");
}
/*
@font-face {
  font-family: "BasierCircleMedium";
  font-style: normal;
  font-weight: 400;
  src:
    local("BasierCircleMedium"),
    url(../font/BasierCircle-Medium.otf) format("opentype");
}
*/

