.icofont-external-link {
  display: inline-block;
  margin-left: 1em;
}

.icofont-flag-alt-2,
.icofont-look,
.icofont-map-pins,
.icofont-penguin-linux,
.icofont-paper,
.icofont-dashboard-web,
.icofont-worker,
.icofont-people,
.icofont-laboratory,
.icofont-foot-print {
  display: inline-block;
  margin-right: 1em;
}

.article {
  flex-direction: column;
}
.body {
  flex-direction: row;
}

.footer {
  margin-top: auto
}

@media screen and (min-width: 2400px) {
  html {
    font-size: var(--body-font-size--desktop);
  }

  .doc {
    align-self: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
